# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Relatórios de testes (opcional, se não quiser versionar os resultados locais)
docs/evidence/
results/

# Sistema
.DS_Store
Thumbs.db